h5{
    font-weight: normal !important;
}
.card {
    width: 40%;

    @media (max-width: 800px) {
        width: 90%
    }

}

.card-body{
    background-color: blue;
    /* background: transparent; */
}
.navbox{
    background-color: blue;
    color:aliceblue
}
.h4{
    background-color: aliceblue;
}